.main {
    width: 100%;
    display: flex;
}

.cabecalho {
    font-family: "Public Sans", sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px;
    font-family: Public Sans;


}


.cabecalho h1 a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;

}

.menu ul {
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.menu ul li {
    padding: 23px;


}

.menu ul li a:hover {
    color: white;
    background-color: #5BC241;
    padding: 10px;
    height: 40px;
    width: 55px;
}

.menu .cadastro a {
    background-color: #5BC241;
    color: white;
    padding: 10px;
    border-radius: 15%;
    font-size: 15px;
    font-weight: 300;
    height: 39px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cabecalho .titulo a {
        font-size: 40px;
        font-weight: 800;
    }

    .menu ul {
        flex-direction: column;
        padding: 30px;
    }

    .menu ul li {
        font-size: 40px;
        font-weight: 400;
    }  
}